# Java
*.class
*.DS_Store
*bin/

apps/sensors/infotainment/
apps/playlist-manager/gen/*
*/R.java

#libspotify
jni/key.h
obj
apps/device/assets/userdetails.txt
apps/device/libs/armeabi/libspotifywrapper.so
apps/headunit/gen/*
